@charset "utf-8";
html,body {width:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,strong,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'맑은 고딕','Malgun Gothic',sans-serif;color:#333}
body {background:#f5f5f5}
a {color:#333;text-decoration:none}
a:active,a:hover {text-decoration:none}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
#daumIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm {display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}
.hide {display:none}
.f_l {float:left}
.f_r {float:right}
.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.clear_g {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
#loginAuthImg {display:block}
 
 
.img_event {display:block;overflow:hidden;font-size:0;line-height:0;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/img_event.png) no-repeat;text-indent:-9999px}
#daumPromotion {overflow:hidden;width:100%;min-width:1258px}
.event_head {width:100%;height:599px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/bg_head_evt1.jpg) no-repeat 50% 0}
.event_head .inner_head {overflow:hidden;width:1108px;height:599px;margin:0 auto;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt1_head.jpg) no-repeat}
.tit_logo {float:left;width:100px;height:40px;padding:15px 0 0 3px;margin-right:854px}
.tit_logo .img_event {width:96px;height:26px}
.link_gohome {float:left;width:146px;height:20px;margin-top:19px;background-position:-100px 0}
.list_tab {overflow:hidden;width:1100px;height:91px;padding:453px 4px 0;clear:both}
.list_tab li {float:left;width:550px;height:91px}
.list_tab .link_tab {display:block;overflow:hidden;height:91px;font-size:0;line-height:0;text-indent:-9999px}

.event_cont {width:100%;height:3064px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/bg_cont_evt1.jpg) no-repeat 50% 0}
.event_cont .event_comm {overflow:hidden;width:1108px;margin:0 auto} 
.event_cont .event_black01 {height:702px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt1_cont1_150723.jpg) no-repeat}
.event_cont .event_black02 {height:575px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt1_cont2_150723.jpg) no-repeat}
.event_cont .event_black03 {height:597px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt1_cont3_150723.jpg) no-repeat}
.event_cont .event_black04 {position:relative;height:1190px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt1_cont4.jpg) no-repeat}

.link_guide {position:absolute;top:520px;left:234px;width:220px;height:45px;background-position:-90px -30px}
.link_source {position:absolute;top:520px;left:654px;width:220px;height:45px;background-position:-90px -80px}
.list_contents {overflow:hidden;position:absolute;top:944px;left:84px;width:975px;height:45px}
.list_contents li {float:left;width:160px;height:45px;margin-right:35px}
.list_contents .img_event {height:45px}
.list_contents .link_contents1 {background-position:0 -130px}
.list_contents .link_contents2 {background-position:-170px -130px}
.list_contents .link_contents3 {background-position:0 -180px}
.list_contents .link_contents4 {background-position:-170px -180px}
.list_contents .link_contents5 {background-position:0 -230px}
.link_gotop {position:fixed;top:50%;left:50%;width:80px;height:80px;margin:124px 0 0 585px;background-position:0 -30px}
.event_foot {width:100%;height:136px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/bg_foot_evt1.jpg) no-repeat 50% 0}
.event_foot .info_copyright {width:195px;height:17px;margin:0 auto;background-position:0 -280px}
.event_foot .link_daumgame {display:block;height:17px}

 
.event_comeback .event_head {background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/bg_head_evt2.jpg) no-repeat 50% 0}
.event_comeback .event_head .inner_head {background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt2_head.jpg) no-repeat}
.event_comeback .event_cont {height:1819px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/bg_cont_evt2.jpg) no-repeat 50% 0}
.event_comeback .event_cont .event_black01 {height:740px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt2_cont1_150723.jpg) no-repeat}
.event_comeback .event_cont .event_black02 {width:1094px;height:369px;padding:158px 0 0 14px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt2_cont2.jpg) no-repeat}
.event_comeback .event_cont .event_black03 {width:1094px;height:401px;padding:151px 0 0 14px;background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/evt2_cont3.jpg) no-repeat}
.event_comeback .event_foot {background:url(http://i1.gamecdn.net/img-contents/event/promotion/150716_black/bg_foot_evt2.jpg) no-repeat 50% 0}

.list_play {overflow:hidden;width:1080px;height:270px;letter-spacing:-1px}
.list_play li {float:left;width:260px;padding:0 50px}
.list_play .link_play {display:block;width:258px;border:1px solid #dcdbd9}
.list_play img {display:block}
.list_play .tit_g {display:block;overflow:hidden;width:239px;height:40px;padding-left:19px;border-top:1px solid #dbdbd9;border-bottom:1px solid #dbdbd9;font-weight:bold;font-size:15px;line-height:38px;color:#222121;background:#f7f6f2}
.list_play .txt_g {display:block;overflow:hidden;width:234px;height:58px;padding:10px 5px 0 19px;font-size:14px;line-height:22px;color:#2f2f2f;background:#ffffff}
.link_play:hover .tit_g, .link_play:hover .txt_g {text-decoration:underline}